.homeLine {
    display: flex;
    margin: auto;
    flex-flow: row nowrap;
}

.homeLineRight {
    flex-flow: row-reverse nowrap;
}
  
.bubble {
    display: flex;
    align-items: center;
    border-color: #E52C08;
    border-radius: 75px;
    border-width: 1px;
    padding: 0 3rem;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
    font-size: 1.5rem;
    font-weight: 100;
    height: 250px;
    
}

.bubbleTitle {
    margin-left: 4rem;
    padding: 0 1rem;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 200; 
}

.bubbleTitleRight {
    margin-left: 0;
    margin-right: 4rem;
    text-align: right;
}

.bubbleContent {
    margin-right: 1rem;
}

.bubbleButton {
    background-color: #B6FAB5;
    padding: 1rem 3rem;
}


@media (max-width: 1024px) {
    .bubble {
        font-size: 1rem;
    }
    .bubbleImage {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    .bubbleImage {
        display: none;
    }
    .bubble {
        padding: 10px;
    }
}